* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

:root {
  --light-yellow: rgb(255, 169, 61);
  --deep-yellow: rgb(255, 147, 9);
  --gray-yellow: rgb(228, 152, 58);
  --brown: rgb(65, 39, 24);
  --liner-brown: #442918;
  --darker-brown: rgb(65, 37, 22);
  --background-color: rgb(46, 164, 169);
}

.coffee-mug {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--brown);
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--liner-brown), 0 0 0 25px var(--darker-brown),
    0 0 0 42px var(--deep-yellow), 0 0 0 65px var(--light-yellow),
    0 120px 0 -25px var(--brown), 100px 70px 0 -25px var(--brown),
    80px 140px 0 -10px var(--brown), 0 210px 0 -55px var(--brown),
    20px 250px 0 -65px var(--brown);
}

.coffee-mug:before {
  content: "";
  position: absolute;
  height: 75px;
  width: 60px;
  background-color: var(--gray-yellow);
  top: -85px;
  right: -75px;
  border-radius: 5px;
  transform: rotate(45deg);
}
